name: 'Periodic Integration Tests'

on:
  schedule:
    - cron: '0 22 * * SUN'

permissions: read-all

jobs:
  ci-pipeline:
    name: 'Continuous Integration'
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
      - name: 'Integration tests'
        run: |
          ./gradlew integrationTest
